
body{
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 21px;
  color: #333333;
  font-family: 'Pt Sans', 'arial', sans-serif;
  text-transform: uppercase;
  background-color: #f2f2f2;
}

.page-header {
  background-color: #fff;
}

a {
  text-decoration: none;
}

.main-nav-list {
  font-size: 14px;
  line-height: 26px;
  background-color: #ffffff;
  list-style: none;
  font-weight: bold;
}

.main-nav-list a{
  color: #000;
}

.main-nav-list a:hover{
  color: #73b3ce;
}

.main-nav-list a:focus{
  color: #cacaca;
}



.promo {
  height: 773px;
  background-image: url("../img/index-bg.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: 100% 773px;
  background-color: #325572;
}

.intro {
  text-align: center;
  background-color: #fff;
}

.main-title {
  font-size: 21px;
  line-height: 26px;
  color: #000000;
  padding-right: 380px;
  padding-left: 380px;

}

.page-wrapper {
  width: 1200px;
  margin: 0 auto;
  box-shadow: 0 0 15px 0 rgba(0, 1, 1, 0.2);
}

.features-item {
  text-align: center;
  color: #ffffff;
  background-color: #81b3d2;
}

.features-item-light {
  text-align: center;
  background-color: #ffffff;

}

.features-item-dark {
  text-align: center;
  background-color: #eeeeee;

}

.feature-title{
  font-size: 21px;
  line-height: 1.2;
}

.features-item-light .features-title,
.features-item-dark .features-title {
 color: #000000;
}

.features-item-light p,
.features-item-dark p {
 color: #333333;
}

.features-item-dark .features-num{
  color: #333333;
}

.offer {
  background-color: #ffffff;
  text-align: center;
}

.offer-title {
  font-size: 30px;
  line-height: 36px;
  color: #000000;
}

.offer p {
  line-height: 24px;
}

.search-form {
  font-size: 14px;
  line-height: 26px;
  color: #000000;
}

.offer-btn {
  font-size: 21px;
  line-height: 26px;
  color: #ffffff;
  background-color: #776358;
}

.offer-btn:hover {
  background-color: #604e44;
}

.offer-btn:focus {
  color: #8e857e;
  background-color: #503e34;
}

.appointment-item input[type="text"] {
  color: #000000;
  text-transform: uppercase;
  border: none;
  background-color: #f2f2f2;
}

.appointment-item input:hover {
  background-color: #ebebeb;
}

.appointment-item input:focus {
  background-color: #ffffff;
  border: 2px solid #e5e5e5;
}

.search-form-btn {
  font-size: 21px;
  line-height: 26px;
  color: #ffffff;
  background-color: #82b3d3;
  border: none;
}

.search-form-btn:hover {
  background-color: #669ec1;
}

.search-form-btn:focus {
  color: #98bcd2;
  background-color: #5596be;
}

.search-form .appointment-item {
  color: #333333;
}

.search-form .appointment-item:hover {
  color: #000000;
}

.search-form .appointment-item:focus {
  color: #7db9d3;
}

.map {
  background-image: url(../img/map.jpg);
  width: 100%;
  height: 593px;
  background-position: center;
  background-color: #f2f1ef;
}

.hashtag {
  font-size: 21px;
  line-height: 26px;
  color: #000000;
}

.social .social-btn{
  color: #82b3d3;
}

.social .social-btn:hover {
  color: #669ec1;
}

.socia .social-btn:focus {
  color: #5596be;
}

.copyright,
.copyright .copyright-hrml{
  color: #000000;
}

.copyright .copyright-hrml:hover {
  color: #89bbd6;
}

.copyright .copyright-hrml:focus {
  color: #bcbcbc;
}

.hotel-filter {
  height: 418px;
  background-image: url("../img/catalog-bg.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  background-color: #4479a3;
  background-size: 100% 418px;
}

.visually-hidden,
.visually-hidden:hover,
.visually-hidden:focus {
  background-color: #ffffff;
}

.visually-hidden:disabled {
  background-color: #6c6867;
}


.filter-cost .btn-filter{
  color: #ffffff;
  background: transparent;
  background-color: transparent;
  border: 2px solid #ffffff;
}

.filter-cost .btn-filter:hover{
  color: #000000;
  background-color: #ffffff;
}

.page-header .site-nav-list:hover {
  color: #81adc8;
}

.page-header .site-nav-list:focus {
  color: #c9c9c9;
}

.current {
  color: #796765;
}

.hotel-labels-link {
  font-size: 12px;
  line-height: 18px;
  font-weight: normal;
  color: #333333;
}

.hotel-labels-link:hover {
  color: #82b1c3;
}

.hotel-labels-link:focus {
  color: #000000;
}

.hotel-labels .current {
  color: #a8bfcf;
}

.found-arrow {
  color: #333333;
}

.found-arrow:hover {
  color: #000000;
}

.found-arrow:focus {
  color: #82b1c3;
}

.arrow-down {
  color: #a8bfcf;
}

.found span {
  font-size: 12px;
  line-height: 18px;
  color: #000000;
}

.found-title {
  font-size: 21px;
  color: #000;
}

.found-caption {
  font-weight: bold;
}

.hotel-filter-title,
.price-filter-title {
  font-size: 16px;
  color: #ffffff;
}

.hotel-filter-item,
.selection-group,
.selection-input {
  font-size: 14px;
  color: #ffffff;
}

.selection-input {
  color: #ffffff;
  background: transparent;
  border: 2px solid #ffffff;
}

.selection-input:hover {
  color: #000000;
  background-color: #ffffff;
}

.result-item-action .result-item-name {
  font-size: 21px;
  line-height: 26px;
  color: #000000;
  font-weight: normal;
}

.result-item-action .result-item-name:hover {
  color: #7fadce;
}

.result-item-action .result-item-name:focus {
  color: #cbcbcb;
}

.result-item-action p {
 font-weight: normal;
}

.result-item-btn {
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
  background-color: #82b3d3;
}

.result-item-btn:hover {
  color: #ffffff;
  background-color: #669ec1 ;
}

.result-item-btn:focus {
  color: #8cafc5;
  background-color: #5596be ;
}

.result-item-btn.btn-dark {
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
  background-color: #766458;
}

.result-item-btn.btn-dark:hover {
  color: #ffffff;
  background-color: #635145 ;
}

.result-item-btn.btn-dark:focus {
  color: #938b88;
  background-color: #503e34 ;
}

/* ----- Сеточные стили ----- */
html,
body {
  min-width: 1122px;
  min-height: 1150px;
}

.page-header {
  display: flex;
  height: 70px;
}

.main-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
  width: 1200px;
  padding-right: 78px;
  padding-left: 78px;

}

.main-nav-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 816px;
  height: 56px;
}

.logo-Sedona {
  flex-direction: row;
  width: 140px;
  align-items: center;
}

 .promo {
  display: flex;
  justify-content: center;
  padding-top: 77px;
  height: 508px;
 }

 .intro {
  height: 217px;
  width: 1200px;
  margin-top: 0px;
  margin: 0;
  padding: 0;
  list-style: none;
 }

 .main-title {
  display: flex;
  height: 46px;
  padding-top: 62.5px;
  padding-bottom: 32.5px;
 }

 .features {
  display: flex;
  height: 1098px;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
 }

 .features-item {
  height: 256px;
  width: 400px;

 }

 .features-item-light {
  height: 330px;
 }

 .features-title {
  padding-right: 50px;
  padding-left: 50px;
  margin-top: 47px;
  margin-bottom: 26px;
  text-align: center;
 }


.features-item-dark p {
  padding-right: 50px;
  padding-left: 50px;
  padding-bottom: 62.5px;
 }

 .feature-title-house,
 .features-title-food,
 .features-title-souvenirs {
  padding-top: 85.5px;
 }

 291 764
 56

 .offer {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
 }

 .offer-title {
  justify-content: center;
  padding-top: 56px;
  padding-bottom: 33px;
  margin: 0px;

 }
  .offer p{
    justify-content: center;
    margin-bottom: 82px;
    margin-top: 0px;
  }

  .offer-btn {
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 144px;
    padding-right: 144px;
  }

  .search-form {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    height: 395px;
    width: 574px;
    flex-wrap: wrap;

  }

  .appointment-item {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    height: 38px;
  }
























