body{
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 21px;
  color: #333333;
  font-family: 'Pt Sans', 'arial', sans-serif;
  text-transform: uppercase;
  background-color: #f2f2f2;
  word-break: break-all;
}

a {
  text-decoration: none;
}

.page-wrapper {
  width: 1200px;
  margin: 0 auto;
  background-color: #fff;
  box-shadow: 0 0 15px 0 rgba(0, 1, 1, 0.2);
}

.main-nav-list {
  font-size: 14px;
  line-height: 26px;
  list-style: none;
  font-weight: bold;
}

.main-nav-list a{
  color: #000;
}

.main-nav-list a:hover{
  color: #73b3ce;
}

.main-nav-list a:focus{
  color: #cacaca;
}

.promo {
  background-image: url("../img/index-bg.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: 100% 773px;
  background-color: #325572;
  height: 508px;
  text-align: center;
  position: relative;
  box-sizing: border-box;
}

.promo img {
  padding-top: 77px;
}

.main-title {
  font-size: 21px;
  line-height: 26px;
  color: #000000;
  width: 440px;
  text-align: center;
  margin: 0 auto;
  padding: 60px 0 30px;
}

.features-item {
  width: 33.3334%;
  text-align: center;
  color: #fff;
  background-color: #81b3d2;
}

.features-item-light {
  text-align: center;
  background-color: #ffffff;
  padding: 28px 0 81px;
}

.features-item p {
  margin: 20px 60px;
}


.features-item-dark {
  text-align: center;
  background-color: #eeeeee;
  padding-bottom: 38px;
}

.feature-title {
  font-size: 21px;
  line-height: 1.2;
}

.feature-title-house {
position: relative;
}

.feature-title-house::before {
  content: "";
  position: absolute;
  bottom: 51px;
  left: 50%;
  width: 75px;
  height: 72px;
  background-image: url("../svg-sedona/house.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  transform: translateX(-50%);
}

.features-title-food {
position: relative;
}

.features-title-food::before {
  content: "";
  position: absolute;
  bottom: 51px;
  left: 50%;
  margin-left: -43px;
  width: 74px;
  height: 70px;
  background-image: url("../svg-sedona/food.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.features-title-souvenirs {
position: relative;
}

.features-title-souvenirs::before {
  content: "";
  position: absolute;
  bottom: 51px;
  left: 50%;
  width: 64px;
  height: 76px;
  background-image: url("../svg-sedona/souvenirs.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  transform: translateX(-50%);
}

.features-item-light .features-title,
.features-item-dark .features-title {
  color: #000000;
}

.features-item-light p,
.features-item-dark p {
  color: #333333;
}

.features-area h2 {
  padding: 0 33%;
}

.features-area p {
padding: 0 33px;
}

.features-road h2 {
  padding: 0 36%;
}

.features-road p {
padding: 0 5px;
}



.features-tourist p {
padding: 0 7px;
}


.features-item-dark .features-num {
  color: #333333;
}

.offer-title {
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  cursor: pointer;
}

.offer p {
  line-height: 24px;
}

.offer-btn {
  font-size: 21px;
  line-height: 26px;
  color: #ffffff;
  background-color: #776358;
}

.offer-btn:hover {
  background-color: #604e44;
}

.offer-btn:focus {
  color: #8e857e;
  background-color: #503e34;
}

.appointment-item input[type="text"] {
  color: #000000;
  text-transform: uppercase;
  border: none;
  background-color: #f2f2f2;
}

.appointment-item input:hover {
  background-color: #ebebeb;
}

.appointment-item input:focus {
  background-color: #ffffff;
  border: 2px solid #e5e5e5;
}

.search-form-btn {
  font-size: 21px;
  line-height: 26px;
  color: #ffffff;
  background-color: #82b3d3;
  border: none;
}

.search-form-btn:hover {
  background-color: #669ec1;
}

.search-form-btn:focus {
  color: #98bcd2;
  background-color: #5596be;
}

.search-form .appointment-item {
  color: #333333;
}

.search-form .appointment-item:hover {
  color: #000000;
}

.search-form .appointment-item:focus {
  color: #7db9d3;
}

.map {
  background-image: url(../img/map.jpg);
  width: 100%;
  height: 593px;
  background-position: center;
  background-color: #f2f1ef;
}

.hashtag {
  width: 33.3334%;
  text-align: left;
  line-height: 49px;
  color: #000000;
  font-size: 21px;
  font-weight: bold;
  text-decoration: none;
  padding-left: 62px;
  box-sizing: border-box;
}

.social  {
  width: 33.3334%;
  text-align: center;
}

.social  ul {
   display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  padding: 0 7px;
  list-style: none;
}


.social .social-btn{
  background-color: #82b3d3;
  width: 46px;
  height: 48px;
  font-size: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.social .social-btn:hover {
  background: #669ec1;
}

.social .social-btn:focus {
  background: #5596be;
}

.social-btn-fb {
  margin-right: 6px;
  margin-left: 6px;
}

.social .social-btn:focus path{
  fill: #8ab6d1;
}

.copyright {
  width: 33.3334%;
  color: #000000;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 28px;
  box-sizing: border-box;
}

.copyright span {
  margin-right: 8px;
}

.copyright .btn {
  margin-top: 6px;
}

.copyright .btn:hover path{
  fill: #7fb0d1;
}

.copyright .btn:focus path{
  fill: #bcbcbc;
}

.hotel-filter {
  background: #406c90 url(../img/catalog-bg.jpg) no-repeat 0px -55px;
  display: flex;
  padding:0 6%;
}

.filter-list:disabled {
  background-color: #6c6867;
}

.page-header .site-nav-list:hover {
  color: #81adc8;
}

.page-header .site-nav-list:focus {
  color: #c9c9c9;
}

.hotel-labels-link {
  font-size: 12px;
  line-height: 18px;
  font-weight: normal;
  border-bottom: 1px dotted #81b3d2;
  color: #b2b2b2;
}

.current {
  color: #796765;
  border: none;
}

.hotel-labels-link:hover {
  color: #82b1c3;
}

.hotel-labels-link:focus {
  color: #000000;
}

.hotel-labels .current {
  color: #a8bfcf;
}

.arrow-down::before {
  content: "\25bc";
  font-size: 15px;
  margin-left: 6px;
}

.arrow-up {
  color: #cacaca;
}

.arrow-down {
  color: #a8bfcf;
}

.arrow-up::before {
  content: "\25b2";
  font-size: 15px;
  margin-left: 4px;
}

.found-arrow:hover {
  color: #000000;
}

.found-arrow:active {
  color: #81b3d2;
}

.found span {
  font-size: 12px;
  line-height: 18px;
  color: #000000;
}

.found-title {
  font-size: 21px;
  color: #000;
}

.found-caption {
  font-weight: bold;
}

.hotel-filter-title,
.price-filter-title {
  font-size: 16px;
  color: #ffffff;
  font-weight: bold;
}

.hotel-filter-item,
.selection-group,
.selection-input {
  font-size: 14px;
  color: #ffffff;
}

.selection-input {
  color: #ffffff;
  background: transparent;
  border: 2px solid #ffffff;
}

.selection-input:hover {
  color: #000000;
  background-color: #ffffff;
}

.result-item-action .result-item-name {
  font-size: 21px;
  line-height: 26px;
  color: #000000;
  font-weight: bold;
}

.result-item-action .result-item-name:hover {
  color: #7fadce;
}

.result-item-action .result-item-name:focus {
  color: #cbcbcb;
}

.result-item-action p {
  font-weight: normal;
  margin-bottom: 19px;
  margin-top: 1px;
}

.result-item-btn {
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
  background-color: #82b3d3;
}

.result-item-btn:hover {
  color: #ffffff;
  background-color: #669ec1;
}

.result-item-btn:focus {
  color: #8cafc5;
  background-color: #5596be ;
}

.result-item-btn.btn-dark {
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
  background-color: #766458;
}

.result-item-btn.btn-dark:hover {
  color: #ffffff;
  background-color: #635145;
}

.result-item-btn.btn-dark:focus {
  color: #938b88;
  background-color: #503e34 ;
}
/* ----- Сеточные стили ----- */
html,
body {
  height: 100%;
}

.main-nav-list {
  display: flex;
  align-items: center;
  margin: 0;
  list-style: none;
  padding: 0 6%;
}

.main-nav-list li {
  width: 20%;
  padding: 15px 0;
}

.main-nav-list li:nth-child(2) {
  margin-right: 20%;
  padding-left: 57px;
}

.main-nav-list li:nth-child(3) {
  padding-right: 60px;
}

.main-nav-list li:nth-child(1),
.main-nav-list li:nth-child(2) {
  text-align: left;
}

.main-nav-list li:nth-child(3),
.main-nav-list li:nth-child(4) {
  text-align: right;
}

.logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.promo::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  background: url(../img/white-band.png) no-repeat;
  right: 0;
  height: 57px;
}

.intro {
  text-align: center;
}

.intro p {
  width: 500px;
  margin: 0 auto;
  padding-bottom: 53px;
}

.features {
  display: flex;
  flex-wrap: wrap;
}

.features-image {
  min-height: 256px;
  width: 66.6667%;
  overflow: hidden;
  position: relative;
  background: #81b3d2;
}

.features-image img {
  width: 100%;
  height: 256px;
  display: block;
  /*position: absolute;
  top: -75px;
  height: auto; */
}

.features-title {
  padding-right: 135px;
  padding-left: 135px;
  margin-top: 47px;
  margin-bottom: 25px;
  text-align: center;
}

.features-item-light-house p {
  margin: 0;
  padding: 0 70px;
}

.features-item-light-food p {
  margin: 0;
  padding: 0 55px;
}

.features-item-light-souvenirs p {
  margin: 0;
  padding: 0 60px;
}

.features-item-devil h2{
  padding-right: 120px;
  padding-left: 120px;
}

.features-item-devil p{
  margin-right: 48px;
  margin-left: 48px;
}

.feature-title-house,
.features-title-food,
.features-title-souvenirs {
  padding-top: 86px;
}




.offer {
  text-align: center;
  padding-top: 0;
  padding-bottom: 0;
}

.offer-title {
  padding-top: 51px;
  padding-bottom: 20px;
  margin: 0 auto;
}

.offer p{
  margin-top: 4px;
  margin-bottom: 47px;
}

.offer-btn {
  padding: 30px 0;
  display: block;
  margin: 0 auto;
  width: 568px;
}

.appointment-item {
  list-style: none;
  font-weight: bold;
}

.main-footer {
  position: relative;
}

.map {
}

.search-form {
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -284px;
  padding: 60px 54px;
  z-index: 2;
  background: #fff;
  width: 568px;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
}

.search-form label {
  padding-left: 3px;
  padding-top: 1px;
  display: inline-block;
  color: red;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  vertical-align: middle;
}

.search-input input {
  float: right;
  width: 328px;
  height: 32px;
  padding-left: 12px;
  margin: 0 0 30px;
  text-transform: uppercase;
  border: none;
  background: #f2f2f2 url(../img/calendar.png) no-repeat 97% 50%;
  outline: none;
  border: 2px solid transparent;
}

.search-input {
  position: relative;
  border-style: none;
}

.search-form input {
  outline: none;
display: inline-block;
width: 381px;
vertical-align: middle;
border-style: none;
background-color: blue ;
border: 1px solid blue ;
font-size: 14px;
line-height:26px;
font-weight: 700;
min-height:26px;
padding: 5px 38px 5px 13px;
}

.hotel-filter-group {
  min-width: 240px;
  margin-top: 27px;
  margin-left: 0;
  border: none;
  padding: 0;
  margin-right: 16px;
}


.filter-list {
  margin: 0px;
  padding: 0;
  list-style: none;
}

.filter-list li {
  margin-top: 25px;
}

.hotel-filter-item {
  display: block;
  padding-left: 41px;
  font-size: 14px;
  line-height: 21px;
  margin-bottom: 25px;
  word-break: break-word;
  position: relative;
}


label {
  cursor: pointer;
}

.check-icon+label:before {
  position: absolute;
  content: "";
  top: -2px;
  left: 1px;
  width: 27px;
  height: 23px;
  background: url(../svg-sedona/checkbox-off.svg);
  background-repeat: no-repeat;
}

.check-icon:checked+label:before {
  position: absolute;
  content: "";
  top: -2px;
  left: 1px;
  width: 27px;
  height: 23px;
  background: url(../svg-sedona/checkbox-on.svg);
  background-repeat: no-repeat;
}

.check-icon+label:disabled {
  background: url(../svg-sedona/checkbox-off-disabled.svg);
}

.check-icon:checked+label:disabled {
  background: url(../svg-sedona/checkbox-on-disabled.svg);
}

.filter-range {
  width: 330px;
  margin-left: 225px;
  margin-top: 28px;
  margin-bottom: 33px;
  color: #ffffff;
  text-transform: uppercase;
}

.filter-range-title {
  margin-bottom: 9px;
  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
}

.price-controls {
  position: relative;
  height: 32px;
  margin-bottom: 20px;
  font-size: 0;
  border: 2px solid #ffffff;
  border-radius: 2px;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 22px;
  background: #ffffff;
  transform: translate(-50%, -50%);
}

.price-controls label {
  display: inline-block;
  font-size: 14px;
  line-height: 31px;
  vertical-align: top;
  cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
  width: 81px;
  padding-left: 66px;
}

.price-controls input {
  width: 50px;
  margin: 0;
  color: inherit;
  font: inherit;
  background: none;
  border: none;
}

.range-controls {
  position: relative;
  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;
  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;
  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;
  width: 4px;
  height: 4px;
  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle:hover {
  background: #1c4f80;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.btn-transparent {
  display: block;
  margin: 0 85px;
  padding: 6px 31px;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;
  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

.btn-transparent:hover {
  color: #000000;
  background: #ffffff;
}

.btn-filter {
  height: 36px;
  width: 137px;
}

.found {
  display: flex;
  flex-wrap:  wrap;
  padding: 28px 6% 26px 6%;
  border-bottom: 1px solid #e5e5e5;
 }

.found-title{
  margin: 4px 48px 0px 0;
}

.found-caption {
  margin-left: 0;
  margin-right: 39px;
  margin-top: 8px;
}

.hotel-labels-link {
  margin-right: 29px;
}

.hotel-labels {
  margin-top: 6px;
}

.found-arrows {
  color: #333333;
  width: 40px;
  padding: 5px 0 0 0;
  font-size: 0;
  margin-left: auto;
}

.result {
  margin-top: 30px;
  border-bottom: 1px solid #e5e5e5;
}

.result .result-item {
  display: flex;
  margin-bottom: 18px;
  padding: 0 6%;
}

.result-item-image {
  margin-right: 30px;
  margin-bottom: 6px;
}

.result-item-action {
}

.result-item-more {
  display: flex;
  margin-top: 0;
}

.result-item-btn {
  height: 27px;
  width: 110px;
  padding-right: 17px;
  padding-left: 17px;
  padding-top: 4px;
  padding-bottom: 4px;
  margin-right: 7px;
}

.result-item-rating{
  width: 120px;
  margin-left: auto;
}

.four-stars {
  background: url(../svg-sedona/star.svg);
  background-repeat: repeat;
  width: 72px;
  height: 18px;
  margin-left: auto;
}

.three-stars {
  background: url(../svg-sedona/star.svg);
  background-repeat: repeat;
  width: 54px;
  height: 18px;
  margin-left: auto;
}

.two-stars {
  background: url(../svg-sedona/star.svg);
  background-repeat: repeat;
  width: 36px;
  height: 18px;
  margin-left: auto;
}

.item-star-rating {
}

.result-item-rate {
  margin-top: 48px;
  background: #f2f2f2;
  color: #8b8b8b;
  text-align: center;
  width: 111px;
  margin-left: auto;
}

.page-footer,
.footer-wrapper {
  display: flex;
  background: rgba(255, 255, 255, 0.9);
  padding: 33px 6%;
}
/*

звезды. как сдеать расстояние между ними

promo два раза повторение, разобратся с высотой

форма выплывающая не получилась

карта? должнв ли быть подвижной?
*/